form {
	z-index: 1000;
	input {
		box-sizing: border-box;
	    border: 1px solid #C2C2C2;
	    box-shadow: 1px 1px 4px #EBEBEB;
	    border-radius: 0px;
	    padding: 12px;
	    outline: none;
	    width: 100%;
	}
}